*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: red solid 1px; */
}

:root{
  --primary: #f5a11a;
  --secondary: #f67020;
  --dim: #321e00;
  --black: #000000;
  --white: #ffffff; 
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body{
  background-color: var(--black);
  color: var(--white);
  overflow: hidden;
  min-height: 100%;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
background: var(--secondary);
}

body::-webkit-scrollbar-thumb{
background: var(--primary);
}

.color{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.first-fg{
  background-color: var(--primary);
  animation: slide 2s ease-in-out forwards;
} 
.second-fg{
  background-color: var(--dim);
  animation: slide 1.5s ease-in-out forwards;
}
.third-fg{
  background-color: var(--secondary);
  animation: slide 1s ease-in-out forwards;
}


@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: -1;
  animation: float 2s ease-out infinite;

  & > img{
    width: 300px;
    height: auto;
    object-fit: cover;
  }
}

.description {
  margin: 1rem;
  padding: 1rem;
  text-align: justify;
  font-size: 1.2em;
  background-color: var(--secondary);
  border-radius: 5px;

  @media screen and (min-width: 768px){
    width: 50%;
  }
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
  
}

.scrollable-img > img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.social-media{
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  & img{
    width: 50px;
    height: auto;
  }

  & a{
    display: block;
    width: 48px;
    aspect-ratio: 1/1;
    background-size: contain;
  }

  #Instagram{
    background-image: url("../assets/Instagram_icon.png");
  }

  #LinkedIn{
    background-image: url("../assets/LinkedIn_logo.png");
  }

  #Facebook{
    background-image: url("../assets/Facebook_Logo.png");
  }
}
