*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: red solid 1px; */
}

:root{
  --primary: #f5a11a;
  --secondary: #f67020;
  --dim: #321e00;
  --black: #000000;
  --white: #ffffff; 
  --font-title: 'Roboto', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body{
  background-color: var(--black);
  color: var(--white);
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
background: var(--secondary);
}

body::-webkit-scrollbar-thumb{
background: var(--primary);
}

h1{
  text-align: center;
}

.color{
  width: 100vw;
  height: 100vh;
  position: absolute;

}

.first-fg{
  background-color: var(--primary);
  animation: slide 2s ease-in-out forwards;
} 
.second-fg{
  background-color: var(--dim);
  animation: slide 1.5s ease-in-out forwards;
}
.third-fg{
  background-color: var(--secondary);
  animation: slide 1s ease-in-out forwards;
}


@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}